main {
  padding: 10px 15px;
}

article {
  display: flex;
  align-content: center;
  justify-content: space-around;
  margin-bottom: 20px;
}

.article-thumnail img {
  width: 200px;
  height: 200px;
  border-radius: 20px;
  box-shadow: 1px 1px 5px #dedede;
}

.article-info {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;
  padding: 8px 0 0 24px;
}

.article-info>li {
  margin-bottom: 15px;
}

.article-info__title {
  font-size: 1.6rem;
  font-weight: bold;
}

.article-info__des {
  color: #959595dd;
}

.article-info__des>.location {
  margin-right: 20px;
  position: relative;
}

.article-info__des>.location::after {
  content: '';
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #959595dd;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(15px, -50%);
}

.article-info__price {
  font-size: 1.2rem;
  font-weight: bold;
}


/* 글쓰기 버튼 */
.write-btn {
  cursor: pointer;
  width: 120px;
  height: 50px;
  background-color: #ea7908;
  box-shadow: 2px 2px 3px #a1a1a1;
  border-radius: 50px;
  position: fixed;
  bottom: calc(20% - 60px);
  right: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  font-weight: bold;
  font-size: 1.2rem;
}