nav {
  width: 100vw;
  position: fixed;
  bottom: 0;
  background-color: white;
  box-shadow: 0 -2px 3px #dedede;
  padding: 15px 0;
}

.nav-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-menu__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-menu__list .icon {
  width: 30px;
  margin-bottom: 8px;
}

.nav-menu__list .icon>img {
  width: 100%;
}

.nav-menu__list>.title {
  font-size: 1rem;
}